axial_positional_embedding==0.2.1
deepspeed==0.6.5
einops==0.4.1
Flask==2.1.2
ftfy==6.1.1
joblib==1.1.0
numpy==1.22.3
omegaconf==2.1.2
Pillow==9.1.1
py_avataaars==1.1.2
regex==2022.4.24
rotary_embedding_torch==0.1.5
setuptools==60.2.0
tokenizers==0.12.1
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
transformers==4.18.0
webdataset==0.2.5
youtokentome==1.0.6
