<div class="form-group">
    <label for="accessories_type">Accessories type</label>
    <br>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="accessories_type" name="accessories_type">
        <option selected>No value selected</option>
        <option value="default">Default</option>
        <option value="kurt">Kurt</option>
        <option value="prescription">Prescription</option>
        <option value="round">Round</option>
        <option value="sunglasses">Sunglasses</option>
        <option value="wayfarers">Wayfarers</option>
    </select>
</div>