<div class="form-group">
    <label for="clothe_type">Clothe type</label>
    <br>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="clothe_type" name="clothe_type" required>
        <option selected disabled value="">No value selected</option>
        <option value="blazer_shirt">Blazer shirt</option>
        <option value="blazer_sweater">Blazer sweater</option>
        <option value="collar_sweater">Collar sweater</option>
        <option value="hoodie">Hoodie</option>
        <option value="overall">Overall</option>
        <option value="shirt_crew_neck">Shirt crew neck</option>
        <option value="shirt_scoop_neck">Shirt scoop neck</option>
        <option value="shirt_v_neck">Shirt v neck</option>
    </select>
</div>