<div class="form-group">
    <label for="eye_type">Eye type</label>
    <br>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="eye_type" name="eye_type">
        <option selected>No value selected</option>
        <option value="default">Default</option>
        <option value="close">Close</option>
        <option value="cry">Cry</option>
        <option value="dizzy">Dizzy</option>
        <option value="eye_roll">Eye roll</option>
        <option value="happy">Happy</option>
        <option value="hearts">Hearts</option>
        <option value="side">Side</option>
        <option value="squint">Squint</option>
        <option value="surprised">Surprised</option>
        <option value="wink">Wink</option>
        <option value="wink_wacky">Wink wacky</option>
    </select>
</div>