<div class="form-group">
    <label for="eyebrow_type">Eyebrow type</label>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="eyebrow_type" name="eyebrow_type">
        <option selected>No value selected</option>
        <option value="default">Default</option>
        <option value="default_natural">Default natural</option>
        <option value="angry">Angry</option>
        <option value="angry_natural">Angry natural</option>
        <option value="flat_natural">Flat natural</option>
        <option value="raised_excited">Raised excited</option>
        <option value="raised_excited_natural">Raised excited natural</option>
        <option value="sad_concerned">Sad concerned</option>
        <option value="sad_concerned_natural">Sad concerned natural</option>
        <option value="uni_brow_natural">Uni brow natural</option>
        <option value="up_down">Up down</option>
        <option value="up_down_natural">Up down natural</option>
        <option value="frown_natural">Frown natural</option>
    </select>
</div>