<div class="form-group">
    <label for="facial_hair_type">Facial hair type</label>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="facial_hair_type" name="facial_hair_type">
        <option selected>No value selected</option>
        <option value="default">Default</option>
        <option value="beard_medium">Beard medium</option>
        <option value="beard_light">Beard light</option>
        <option value="beard_majestic">Beard majestic</option>
        <option value="moustache_fancy">Moustache fancy</option>
        <option value="moustache_magnum">Moustache magnum</option>
    </select>
</div>