<div class="form-group">
    <label for="hair_color">Hair color</label>
    <br>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="hair_color" name="hair_color" required>
        <option selected disabled value="">No value selected</option>
        <option value="black">Black</option>
        <option value="auburn">Auburn</option>
        <option value="blonde">Blonde</option>
        <option value="blonde_golden">Blonde Golden</option>
        <option value="brown">Brown</option>
        <option value="brown_dark">Brown Dark</option>
        <option value="pastel_pink">Pastel Pink</option>
        <option value="platinum">Platinum</option>
        <option value="red">Red</option>
        <option value="silver_gray">Silver Gray</option>
    </select>
</div>