<div class="form-group">
    <label for="mouth_type">Mouth type</label>
    <br>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="mouth_type" name="mouth_type" required>
        <option selected disabled value="">No value selected</option>
        <option value="default">Default</option>
        <option value="concerned">Concerned</option>
        <option value="disbelief">Disbelief</option>
        <option value="eating">Eating</option>
        <option value="grimace">Grimace</option>
        <option value="sad">Sad</option>
        <option value="scream_open">Scream open</option>
        <option value="serious">Serious</option>
        <option value="smile">Smile</option>
        <option value="tongue">Tongue</option>
        <option value="twinkle">Twinkle</option>
        <option value="vomit">Vomit</option>
    </select>
</div>