<div class="form-group">
    <label for="top_type">Top type</label>
    <br>
    <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="top_type" name="top_type" required>
        <option selected disabled value="">No value selected</option>
        <option value="no_hair">No hair</option>
        <option value="eye_patch">Eye patch</option>
        <option value="hat">Hat</option>
        <option value="hijab">Hijab</option>
        <option value="turban">Turban</option>
        <option value="winter_hat">Winter hat</option>
        <option value="long_hair_big_hair">Long hair big hair</option>
        <option value="long_hair_bob">Long hair bob</option>
        <option value="long_hair_bun">Long hair bun</option>
        <option value="long_hair_curly">Long hair curly</option>
        <option value="long_hair_curvy">Long hair curvy</option>
        <option value="long_hair_dreads">Long hair dreads</option>
        <option value="long_hair_frida">Long hair frida</option>
        <option value="long_hair_fro">Long hair fro</option>
        <option value="long_hair_fro_band">Long hair fro band</option>
        <option value="long_hair_not_too_long">Long hair not too long</option>
        <option value="long_hair_mia_wallace">Long hair mia wallace</option>
        <option value="long_hair_shaved_sides">Long hair shaved sides</option>
        <option value="long_hair_straight">Long hair straight</option>
        <option value="long_hair_straight_strand">Long hair straight strand</option>
        <option value="short_hair_dreads">Short hair dreads</option>
        <option value="short_hair_frizzle">Short hair frizzle</option>
        <option value="short_hair_shaggy_mullet">Short hair shaggy mullet</option>
        <option value="short_hair_short_curly">Short hair short curly</option>
        <option value="short_hair_short_flat">Short hair short flat</option>
        <option value="short_hair_short_round">Short hair short round</option>
        <option value="short_hair_short_waved">Short hair short waved</option>
        <option value="short_hair_sides">Short hair sides</option>
        <option value="short_hair_the_caesar">Short hair the caesar</option>
        <option value="short_hair_the_caesar_side_part">Short hair the caesar side part</option>
    </select>
</div>